# QUESTION1

In [1]:
#importing all required libraries
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#connect to web driver
driver=webdriver.Chrome(r'C:/Users/BISWAJYOTI/Downloads/chromedriver_win32/chromedriver.exe')

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
#finding element for search job bar using id
search_job=driver.find_element_by_class_name("suggestor-input")
search_job

In [5]:
#write on search bar
search_job.send_keys('Data Analyst')

In [6]:
#finding element for search location bar using absolute xpath
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [7]:
#write on location bar
search_loc.send_keys('Bangalore')
search_loc

In [9]:
#clicking search using absolute xpath
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [10]:
search_btn.click()

In [11]:
# EXTRACTING JOB TITLES
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_title)
job_title[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e161244d05235e5a33d71b6f4f5a33cc", element="ef94e4aa-9e7d-4172-9263-0c90f5034e35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e161244d05235e5a33d71b6f4f5a33cc", element="79a882c7-7734-40b6-bfb0-af3d2432f51c")>]

In [12]:
title=[]
for i in job_title:
    title.append(i.text)
title[0:2]

['Hiring For Data Analyst I(SQL & Python)', 'Senior Data Analyst']

In [14]:
# EXTRACTING COMPANY NAMES
comp=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(comp)
comp[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e161244d05235e5a33d71b6f4f5a33cc", element="afa9fd36-cf01-46fd-be36-4a86a66ae13e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e161244d05235e5a33d71b6f4f5a33cc", element="08437f46-49a4-4490-a255-1bac524139a9")>]

In [15]:
company=[]
for i in comp:
    company.append(i.text)
company[0:2]

['Clario India Pvt Ltd', 'Flipkart']

In [17]:
# EXTRACTING EXPERIENCE
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience=[]
for i in exp:
    experience.append(i.text)
experience[0:2]

['0-2 Yrs', '3-8 Yrs']

In [18]:
# EXTRACTING SALARY 
sal=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
salary=[]
for i in sal:
    salary.append(i.text)
salary[0:2]

['6,00,000 - 8,00,000 PA.', 'Not disclosed']

In [19]:
# EXTRACTING LOCATION
loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location=[]
for i in loc:
    location.append(i.text)
location[0:2]

['Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [21]:
len(location),len(experience),len(company),len(title)

(20, 19, 20, 20)

In [22]:
#creating a dataframe
job=pd.DataFrame()
job['Title']=title[:10]
job['Company']=company[:10]
job['Experience']=experience[:10]
job['Location']=location[:10]
job['Salary']=salary[:10]

In [23]:
job

,Title,Company,Experience,Location,Salary
0,Hiring For Data Analyst I(SQL & Python),Clario India Pvt Ltd,0-2 Yrs,Bangalore/Bengaluru,"6,00,000 - 8,00,000 PA."
1,Senior Data Analyst,Flipkart,3-8 Yrs,Bangalore/Bengaluru,Not disclosed
2,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru,Not disclosed
3,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru,Not disclosed
4,Hiring Data analyst with Pharma Background acr...,HCL,6-11 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...","15,00,000 - 20,00,000 PA."
5,Data Coordinator | Data Analyst | MS Excel | T...,Inspiration Manpower Consultancy Pvt. Ltd.,1-2 Yrs,Bangalore/Bengaluru(Sadashiva Nagar),"1,00,000 - 2,50,000 PA."
6,Data Analyst,Flipkart,1-2 Yrs,Bangalore/Bengaluru,Not disclosed
7,Data Analyst,Flipkart,1-3 Yrs,Bangalore/Bengaluru,Not disclosed
8,Consultant - Data Analyst,Flipkart,0-4 Yrs,Bangalore/Bengaluru,Not disclosed
9,software developer & Testing / Business Analys...,SECRET TECHNOLOGIES INDIA VMS GROUP,5-7 Yrs,"Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumb...","2,00,000 - 6,50,000 PA."