# QUESTION-10

In [1]:
#importing all required libraries
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.keys import Keys
import time

In [2]:
#connect to web driver
driver=webdriver.Chrome(r'C:/Users/BISWAJYOTI/Downloads/chromedriver_win32/chromedriver.exe')

In [3]:
url='http://www.ambitionbox.com/'
driver.get(url)

In [4]:
#clicking salary using absolute xpath
salary_btn=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_btn.click()

In [5]:
#finding element for search
search=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search

In [6]:
#write on search bar
search.send_keys('Data Scientist')
time.sleep(2)

In [7]:
search.send_keys(Keys.ARROW_DOWN)
time.sleep(2)
search.send_keys(Keys.ENTER)
time.sleep(2)

In [8]:
# EXTRACTING job title
job_title=driver.find_elements_by_xpath('//div[@class="name"]')
title=[]
for i in job_title:
    title.append(i.text.strip().split('\n')[0])
title[0:3]

['Ab Inbev', 'ZS', 'Optum']

In [9]:
# EXTRACTING salary record
salary=driver.find_elements_by_xpath('//div[@class="name"]')
salary_record=[]
for i in salary:
    salary_record.append(i.text.strip().split('\n')[1])
salary_record[0:3]

['based on 28 salaries', 'based on 15 salaries', 'based on 25 salaries']

In [10]:
# EXTRACTING required experience
exp=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
exp_reqd=[]
for i in exp:
    exp_reqd.append(i.text.strip().split('\n')[2])
exp_reqd[0:3]

['3-4 yrs exp', '2 yrs exp', '3-4 yrs exp']

In [11]:
# EXTRACTING AVG SALARY
avg=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
avg_sal=[]
for i in avg:
    avg_sal.append(i.text)
avg_sal[0:3]

['₹ 20.3L', '₹ 15.3L', '₹ 15.1L']

In [12]:
# EXTRACTING min SALARY
min=driver.find_elements_by_xpath('//div[@class="salary-values"]')
min_sal=[]
for i in min:
    min_sal.append(i.text.strip().split('\n')[0])
min_sal[0:4]

['₹ 15.0L', '₹ 9.5L', '₹ 11.0L', '₹ 9.5L']

In [13]:
# EXTRACTING max SALARY
max=driver.find_elements_by_xpath('//div[@class="salary-values"]')
max_sal=[]
for i in max:
    max_sal.append(i.text.strip().split('\n')[1])
max_sal[0:4]

['₹ 25.5L', '₹ 20.0L', '₹ 21.3L', '₹ 22.0L']

In [14]:
#creating a dataframe
ambition_box=pd.DataFrame()
ambition_box['Company Name']=title[:10]
ambition_box['Experience Required']=exp_reqd[:10]
ambition_box['Salary Record']=salary_record[:10]
ambition_box['Average Salary']=avg_sal[:10]
ambition_box['Max Salary']=max_sal[:10]
ambition_box['Min Salary']=min_sal[:10]
ambition_box

,Company Name,Experience Required,Salary Record,Average Salary,Max Salary,Min Salary
0,Ab Inbev,3-4 yrs exp,based on 28 salaries,₹ 20.3L,₹ 25.5L,₹ 15.0L
1,ZS,2 yrs exp,based on 15 salaries,₹ 15.3L,₹ 20.0L,₹ 9.5L
2,Optum,3-4 yrs exp,based on 25 salaries,₹ 15.1L,₹ 21.3L,₹ 11.0L
3,Fractal Analytics,2-4 yrs exp,based on 77 salaries,₹ 15.1L,₹ 22.0L,₹ 9.5L
4,Tiger Analytics,3-4 yrs exp,based on 33 salaries,₹ 14.4L,₹ 20.0L,₹ 8.3L
5,UnitedHealth,2-4 yrs exp,based on 52 salaries,₹ 13.9L,₹ 20.5L,₹ 8.3L
6,Verizon,4 yrs exp,based on 14 salaries,₹ 12.7L,₹ 21.0L,₹ 10.0L
7,Ganit Business Solutions,4 yrs exp,based on 13 salaries,₹ 12.4L,₹ 15.0L,₹ 8.5L
8,Ericsson,3-4 yrs exp,based on 43 salaries,₹ 11.9L,₹ 24.0L,₹ 5.8L
9,Deloitte,2-4 yrs exp,based on 57 salaries,₹ 11.7L,₹ 23.4L,₹ 6.9L