# Question2

In [1]:
#importing all required libraries
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

#connect to web driver
driver=webdriver.Chrome(r'C:/Users/BISWAJYOTI/Downloads/chromedriver_win32/chromedriver.exe')

url='https://www.naukri.com/'
driver.get(url)

#finding element for search job bar using id
search_job=driver.find_element_by_class_name("suggestor-input")
search_job

#write on search bar
search_job.send_keys('Data Scientist')

#finding element for search location bar using absolute xpath
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

#write on location bar
search_loc.send_keys('Bangalore')
search_loc

#clicking search using absolute xpath
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

search_btn.click()

# EXTRACTING JOB TITLES
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_title)
job_title[0:2]

title=[]
for i in job_title:
    title.append(i.text)
title[0:2]


# EXTRACTING COMPANY NAMES
comp=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(comp)
comp[0:2]

company=[]
for i in comp:
    company.append(i.text)
company[0:2]

# EXTRACTING EXPERIENCE
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience=[]
for i in exp:
    experience.append(i.text)
experience[0:2]

# EXTRACTING SALARY 
sal=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
salary=[]
for i in sal:
    salary.append(i.text)
salary[0:2]

# EXTRACTING LOCATION
loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location=[]
for i in loc:
    location.append(i.text)
location[0:2]

len(location),len(experience),len(company),len(title)

#creating a dataframe
job=pd.DataFrame()
job['Title']=title[:10]
job['Company']=company[:10]
job['Experience']=experience[:10]
job['Location']=location[:10]
job['Salary']=salary[:10]

job

,Title,Company,Experience,Location,Salary
0,Principal Data Scientist,Mobile Premier League,8-12 Yrs,Bangalore/Bengaluru,Not disclosed
1,Data Scientist,HDFC Bank,1-6 Yrs,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...","14,00,000 - 24,00,000 PA."
2,Data Scientist,Shell,4-9 Yrs,Bangalore/Bengaluru,Not disclosed
3,Need Data scientists and data engineers - WFH-...,Covalense Technologies Private Limited,8-13 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Not disclosed
4,Data Scientist,Gojek,4-10 Yrs,Bangalore/Bengaluru,Not disclosed
5,Senior/ Lead Data Scientist,AmoliTalents,5-10 Yrs,Bangalore/Bengaluru,Not disclosed
6,Data Scientist / Analyst,open data fabric,4-9 Yrs,Bangalore/Bengaluru,Not disclosed
7,Forecasting Analyst/ Data Scientist (US Client),Concentrix,3-8 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Not disclosed
8,Hiring Data Scientist - Analytics,Firstsource Solutions Limited,3-8 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)",Not disclosed
9,Computer Vision Python Data Scientist,OceanOfWeb,4-6 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Not disclosed