In [ ]:
# QUESTION NO-6

In [1]:
#importing all required libraries
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#connect to web driver
driver=webdriver.Chrome(r'C:/Users/BISWAJYOTI/Downloads/chromedriver_win32/chromedriver.exe')

In [3]:
url='https://www.flipkart.com/'
driver.get(url)

In [4]:
#finding element for search
search=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search

In [5]:
#write on search bar
search.send_keys('sneakers')

In [6]:
#clicking search using absolute xpath
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [8]:
# EXTRACTING BRAND
brand=[]
for i in range(10):
    bd=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for j in bd:
        brand.append(j.text)
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()

In [9]:
len(brand)

400

In [30]:
brand[:10]

['Chevit',
 'Magnolia',
 'corsac',
 'D-SNEAKERZ',
 'World Wear Footwear',
 'KWIK FIT',
 'BRUTON',
 'luxury fashion',
 'Kraasa',
 'URBANBOX']

In [23]:
# EXTRACTING DESCRIPTION
description=[]
for i in range(10):
    desc=driver.find_elements_by_xpath('//div[@class="_2B099V"]')
    for j in desc:
        description.append(j.text.strip().split('\n')[1])
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()

In [24]:
len(description)

400

In [29]:
description[:10]

['Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Series 7 Sneakers For Men',
 'Sneakers Sneakers For Men']

In [31]:
# EXTRACTING PRICE
price=[]
for i in range(10):
    pr=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for j in pr:
        price.append(j.text)
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()

In [32]:
len(price)

400

In [33]:
price[:10]

['₹2,549',
 '₹349',
 '₹501',
 '₹327',
 '₹424',
 '₹249',
 '₹149',
 '₹449',
 '₹349',
 '₹209']

In [34]:
# EXTRACTING DISCOUNT
discount=[]
for i in range(10):
    disc=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for j in disc:
        discount.append(j.text)
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()

In [35]:
len(discount)

400

In [36]:
discount[:10]

['42% off',
 '65% off',
 '68% off',
 '67% off',
 '71% off',
 '62% off',
 '70% off',
 '60% off',
 '82% off',
 '83% off']

In [37]:
#creating a dataframe
sneaker=pd.DataFrame()
sneaker['Brand']=brand[:100]
sneaker['Price']=price[:100]
sneaker['Description']=description[:100]
sneaker['Discount']=discount[:100]

In [38]:
sneaker

,Brand,Price,Description,Discount
0,Chevit,"₹2,549",Super Stylish & Trendy Combo Pack of 02 Pairs ...,42% off
1,Magnolia,₹349,Sneakers For Men,65% off
2,corsac,₹501,STYLISH MENS BLACK SNEAKER Sneakers For Men,68% off
3,D-SNEAKERZ,₹327,"Casual , Partywear Sneakers Shoes For Men's An...",67% off
4,World Wear Footwear,₹424,5011-Latest Collection Stylish Casual Loafer S...,71% off
...,...,...,...,...
95,BRUTON,"₹1,380",Modern & Trendy Collection Combo Pack of 02 Sh...,86% off
96,BRUTON,₹149,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,70% off
97,SCATCHITE,₹248,Sneakers For Men,75% off
98,CLYMB,₹269,Sneakers For Men,73% off
99,Elevarse,"₹1,649",Sneakers For Men,50% off