# QUESTION-7

In [1]:
#importing all required libraries
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
#connect to web driver
driver=webdriver.Chrome(r'C:/Users/BISWAJYOTI/Downloads/chromedriver_win32/chromedriver.exe')

In [3]:
url='http://www.myntra.com/shoes'
driver.get(url)
time.sleep(2)

In [4]:
#Clicking filters by selecting check boxes using absolute x_path
color_check=driver.find_element_by_xpath('/html/body/div[2]/div/div/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_check.click()
time.sleep(2)

In [5]:
#Clicking filters by selecting check boxes using absolute x_path
price_check=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_check.click()
time.sleep(2)

In [6]:
# EXTRACTING BRAND,DESCRIPTION AND PRICE USING RELATIVE XPATH
brand=[]
description=[]  
price=[]
for i in range(2):
    bd=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for j in bd:
        brand.append(j.text)
    
    desc=driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]')
    for j in desc:
        description.append(j.text.strip().split('\n')[1])
    
    pr=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for j in pr:
        price.append(j.text)
    
next_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
next_button.click()

In [7]:
price

['Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7995',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 13999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 7739Rs. 8599(10% OFF)',
 'Rs. 10995',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 9499',
 'Rs. 7999',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8990',
 'Rs. 10500Rs. 10900(Rs. 400 OFF)',
 'Rs. 8579Rs. 10999(22% OFF)',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 8490',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 8900',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 9500',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7599',
 'Rs. 12990',
 'Rs. 7739Rs. 8599(10% OFF)',
 'Rs. 9499',
 'Rs. 7999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 8490',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 7900',
 'Rs. 8900',
 'Rs. 9500',
 'Rs. 8499',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 7990',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 8299',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7995',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 13999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 7739Rs. 8599(10% OFF)',
 'Rs. 10995',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 9499',
 'Rs. 7999',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8990',
 'Rs. 10500Rs. 10900(Rs. 400 OFF)',
 'Rs. 8579Rs. 10999(22% OFF)',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 8490',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 8900',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 9500',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7599',
 'Rs. 12990',
 'Rs. 7739Rs. 8599(10% OFF)',
 'Rs. 9499',
 'Rs. 7999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 8490',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 7900',
 'Rs. 8900',
 'Rs. 9500',
 'Rs. 8499',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 7990',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 8299']

In [8]:
brand

['ALDO',
 'Nike',
 'Puma',
 'ALDO',
 'Puma',
 'ALDO',
 'Hush Puppies',
 'Tommy Hilfiger',
 'Nike',
 'Puma',
 'Puma',
 'Bugatti',
 'ASICS',
 'Skechers',
 'Hush Puppies',
 'Reebok',
 'Hush Puppies',
 'Hush Puppies',
 'MANGO',
 'Saint G',
 'TRIBAN By Decathlon',
 'Puma',
 'J.FONTINI',
 'Puma',
 'Sole To Soul',
 'Hush Puppies',
 'Saint G',
 'Bugatti',
 'Tommy Hilfiger',
 'Heel & Buckle London',
 'Tommy Hilfiger',
 'Geox',
 'ALDO',
 'ALDO',
 'J.FONTINI',
 'ALDO',
 'J.FONTINI',
 'MANGO',
 'DAVINCHI',
 'DAVINCHI',
 'Sole To Soul',
 'Sole To Soul',
 'Sole To Soul',
 'ROSSO BRUNELLO',
 'Bugatti',
 'Geox',
 'Heel & Buckle London',
 'ROSSO BRUNELLO',
 'DAVINCHI',
 'fitflop',
 'ALDO',
 'Nike',
 'Puma',
 'ALDO',
 'Puma',
 'ALDO',
 'Hush Puppies',
 'Tommy Hilfiger',
 'Nike',
 'Puma',
 'Puma',
 'Bugatti',
 'ASICS',
 'Skechers',
 'Hush Puppies',
 'Reebok',
 'Hush Puppies',
 'Hush Puppies',
 'MANGO',
 'Saint G',
 'TRIBAN By Decathlon',
 'Puma',
 'J.FONTINI',
 'Puma',
 'Sole To Soul',
 'Hush Puppies',
 'Saint G',
 'Bugatti',
 'Tommy Hilfiger',
 'Heel & Buckle London',
 'Tommy Hilfiger',
 'Geox',
 'ALDO',
 'ALDO',
 'J.FONTINI',
 'ALDO',
 'J.FONTINI',
 'MANGO',
 'DAVINCHI',
 'DAVINCHI',
 'Sole To Soul',
 'Sole To Soul',
 'Sole To Soul',
 'ROSSO BRUNELLO',
 'Bugatti',
 'Geox',
 'Heel & Buckle London',
 'ROSSO BRUNELLO',
 'DAVINCHI',
 'fitflop']

In [9]:
len(brand),len(price),len(description)

(100, 100, 100)

In [10]:
#creating a dataframe
myntra=pd.DataFrame()
myntra['Brand']=brand
myntra['Price']=price
myntra['Description']=description
myntra

,Brand,Price,Description
0,ALDO,Rs. 9099Rs. 12999(30% OFF),Men Printed Sneakers
1,Nike,Rs. 7995,Men Winflo 7 Running Shoes
2,Puma,Rs. 12999,Men Jamming 2.0 Running Shoes
3,ALDO,Rs. 12999,Men Leather Driving Shoes
4,Puma,Rs. 12999,Eternity Nitro Running Shoes
...,...,...,...
95,Geox,Rs. 8999,Women Leather Pumps
96,Heel & Buckle London,Rs. 7990,Men Formal Leather Derby
97,ROSSO BRUNELLO,Rs. 7999,PU Block Pumps with Buckles
98,DAVINCHI,Rs. 7990,Solid Slip On Shoes
99,fitflop,Rs. 8299,Embellished Leather Flatform Sandals